<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Title</title>
</head>
<body>
	<h1>Hello World</h1>
	<!-- OGNL -->
	<p th:text="${new java.util.Date().toString()}"></p>
	
	<!-- utility object -->
	<p th:text="${#dates.format(new java.util.Date(), 'yyyy-MM-dd HH:mm)}"></p>
	<p th:text="${numbers.formatInteger(123,5)}"></p>
	<p th:text="${#strings.toUpperCase('Welcome to Spring boot')}"></p>
	
	<!-- parameter -->
	<p th:text="'id0=' + ${param.id[0]} + ', id1=' +${param.id[1]}"></p>
</body>
</html>